<h2 class="text-center fw-bold text-primary display-5">List Employees</h2>
<div class="container card card-body shadow">
    <table>
        <thead class="text-center">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let employee of employees">
                <td>{{employee.id}}</td>
                <td>{{employee.name}}</td>
                <td>{{employee.lastname}}</td>
                <td>{{employee.email}}</td>
                <td>
                    <button (click)="editEmployee(employee.id)" class="btn btn-dark m-1 shadow fw-bold">edit</button>
                    <button (click)="deleteEmployee(employee.id)" class="btn btn-danger m-1 shadow fw-bold">delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>